<!DOCTYPE html>
<html>
<head>
	<title>Student Registration Form</title>
	<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.3.16/angular.min.js"></script>
	<link rel="stylesheet" type="text/css" href="app.css">
</head>
<body ng-app ng-init="display=true">
	<div class="box">
		<form class="form" ng-submit="submit()">
			<h3>Student Registration</h3>
			<input type="text" id="name" placeholder="Full Name" ng-model="student.name" ng-init="student.name='James Bond'" required="required">

			<input type="text" id="email" placeholder="Email" ng-model="student.email" ng-init="student.email='james.bond@example.com'" required="required"><br>

			<input type="password" id="password" placeholder="Password" ng-model="student.password" required="required"><br>

			<input type="date" id="dob" placeholder="Date of Birth" ng-model="student.dob" required="required" ng-init="student.date='21-04-2020'">

			<input type="number" id="marks" placeholder="Marks" ng-model="student.marks" required="required" ng-init="student.marks=89">

			<input type="submit" id="submit" value="Register" ng-model="display" required="required">

			<p>Here's what we got from you : </p>
			<p ng-if="display">Hello, {{student.name | uppercase}}</p>
			<p ng-if="display">Email {{student.email}}</p>
			<p ng-if="display">You were born on  {{student.dob | date}}</p>
			<p ng-if="display">You scored {{student.marks | number:2}}</p>
		</form>
	</div>
</body>
</html>