<!DOCTYPE html>
<html>
<head>

	<title>Angular JS Practical</title>
	<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.3.16/angular.min.js"></script>

</head>
<body ng-app ng-init="display = true; 
	data = [{name: 'Chandler', age: 30, marks1: 80, marks2: 90}, {name: 'Joey', age: 30, marks1: 90, marks2: 100}]">

	Display : <input type="checkbox" ng-model="display"><br>
	Name - Age - Marks1 - Marks2 - Total Marks<br>
	<ul ng-repeat="d in data" ng-if="display">
		<li>{{d.name}} - {{d.age}} - {{d.marks1}} - {{d.marks2}} - {{d.marks1+d.marks2}}</li>
	</ul>

</body>
</html>