.box {
	width: 360px;
	margin: auto;
	padding: 8% 0 0;
	background-color: #f4f7f8;
}

.form {
	margin: 20px 20px;
}

.form input, p{
	font-family: Raleway;
	padding: 10px;
	text-align: center;
	margin: 0 0 15px;
	width: 300px;
	background-color: ;
}

h3 {
	font-family: Lato;
	text-align: center;
}